@charset "UTF-8";

body {

}
.top{
	height: 30px;
	width:990px;
	background-color: #f0f0f0;
}
.container{

	display: flex;
	width:990px;
	height: 600px;
	background-color: #a3a3a3;
	background-image: linear-gradient(#636363 1px, transparent 1px),
		linear-gradient(to right, #636363 1px, #919090 1px);
	background-size: 20px 20px;
	
}

.left_outline {
	background-color: #acd2dd;
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;

	width: 187.5px;
	height: 562.5px;
	position: relative;
	top:16.25px;
	left:16.25px;
	z-index: 1;
}

.right_outline {
	background-color: #acd2dd;
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	
	width: 600px;
	height: 562.5px;
	position: relative;
	top:18.75px;
	left:7.5px;
	z-index: 2;
}

.left_dot {
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;
	border-width: 1px 0px 1px 1px;
	border-style: dashed;
	border-color: whitesmoke;
	width: 172.5px;
	height: 540px;
	position: relative;
	top:11.25px;
	left:11.25px;
	z-index: 3;
}
.right_dot{
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	border-width: 1px 1px 1px 0px;
	border-style: dashed;
	border-color: whitesmoke;
	width: 585px;
	height: 540px;
	position: relative;
	top:11.25px;
	z-index: 4;
	}

.left_inside {
	background-color: whitesmoke;
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;
	border-width: 1px 0px 1px 1px;
	border-color: #808080;
	width: 165px;
	height: 528.75px;
	position: relative;
	top:5.25px;
	left:5.25px;
	z-index:6;
}
.right_inside{
	background-color: whitesmoke;
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	border-width: 1px 1px 1px 0px;
	border-color: #808080;
	width: 577.5px;
	height: 528.75px;
	position: relative;
	top:5.25px;
	z-index: 5;
}
.today{
	position: relative;
	top:10px;
	left:15px;
	font-size: 11px;
}
.left {
	display: flex;
	flex-direction: column;
	border: 1px solid #808080;
	border-radius: 20px;
	background-color: white;
	width: 150px;
	height: 487.5px;
	position: relative;
	left:3.75px;
	bottom:-15px;
	z-index: 10;
}

.right {
	width:570px;
	height: 487.5px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	background-color: white;
	border: 1px solid #808080;
	border-radius: 20px;
	position: relative;
	left:3.75px;
	bottom:-1.5px;
	z-index: 9;
}

.title {
	position: relative;
	left:25px;

	font-size: 22px;
	font-weight: bold;
	color: navy;

}

/*오른쪽 메뉴버튼*/
.menu_bar {
	display: flex;
	flex-direction: column;
	position: relative;
	top:75px;
	left:-18.75px;
	
}

.menu_bar>a {
	width:52.5px;
	height: 30px;
	text-align:center;

	font-size:13px;
	background-color: #238db3;
	color: whitesmoke;

	margin-bottom: 4.5px;

	border-width:1px 1px 1px 0px;
	border-style:solid;
	border-color:#000040;
	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	z-index: 8;
}

.menu_bar>a:hover {
	background-color: #4F92CD;
}

.bgm_box {
	width:135px;
	height: 225px;
	background-color: white;
	border-radius: 2px;
	margin: 37.5px 7px 7px 7px;
	border: 1px silver;
	position: relative;
	right:7.5px;
	top:-3.75px;

}
audio{
	width:95%;
}
img{
	
}
/* 너비가 1200px 이하일때*/
@media ( max-width : 1200px ) {
	* {
		
	}
}