@charset "UTF-8";

body {

}
.top{
	height: 30px;
	background-color: #f0f0f0;
}
.container{

	display: flex;
	width:1320px;
	height: 800px;
	background-color: #a3a3a3;
	background-image: linear-gradient(#636363 1px, transparent 1px),
		linear-gradient(to right, #636363 1px, #919090 1px);
	background-size: 20px 20px;
	
}

.left_outline {
	background-color: #acd2dd;
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;

	width: 250px;
	height: 750px;
	position: relative;
	top:25px;
	left:25px;
	z-index: 1;
}

.right_outline {
	background-color: #acd2dd;
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	
	width: 800px;
	height: 750px;
	position: relative;
	top:25px;
	left:10px;
	z-index: 2;
}

.left_dot {
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;
	border-width: 1px 0px 1px 1px;
	border-style: dashed;
	border-color: whitesmoke;
	width: 230px;
	height: 720px;
	position: relative;
	top:15px;
	left:15px;
	z-index: 3;
}
.right_dot{
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	border-width: 1px 1px 1px 0px;
	border-style: dashed;
	border-color: whitesmoke;
	width: 780px;
	height: 720px;
	position: relative;
	top:15px;
	z-index: 4;
	}

.left_inside {
	background-color: whitesmoke;
	border-radius: 15px;
	border-top-right-radius:40px;
	border-bottom-right-radius:40px;
	border-width: 1px 0px 1px 1px;
	border-color: #808080;
	width: 220px;
	height: 705px;
	position: relative;
	top:7px;
	left:7px;
	z-index:6;
}
.right_inside{
	background-color: whitesmoke;
	border-radius: 15px;
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	border-width: 1px 1px 1px 0px;
	border-color: #808080;
	width: 770px;
	height: 705px;
	position: relative;
	top:7px;
	z-index: 5;
}
.today{
	position: relative;
	top:15px;
	left:30px;
	font-size: 13px;
}
.left {
	display: flex;
	flex-direction: column;
	border: 1px solid #808080;
	border-radius: 20px;
	background-color: white;
	width: 200px;
	height: 650px;
	position: relative;
	left:5px;
	bottom:-20px;
	z-index: 10;
}

.right {
	width:760px;
	height: 650px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	background-color: white;
	border: 1px solid #808080;
	border-radius: 20px;
	position: relative;
	left:5px;
	bottom:-2px;
	z-index: 9;
}

.title {
	position: relative;
	left:30px;

	font-size: 30px;
	font-weight: bold;
	color: navy;

}

/*오른쪽 메뉴버튼*/
.menu_bar {
	display: flex;
	flex-direction: column;
	position: relative;
	top:100px;
	left:-25px;
	
}

.menu_bar>a {
	width:70px;
	height: 40px;
	text-align:center;

	font-size:17px;
	background-color: #238db3;
	color: whitesmoke;

	margin-bottom: 6px;

	border-width:1px 1px 1px 0px;
	border-style:solid;
	border-color:#000040;
	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-decoration: none;
	z-index: 8;
}

.menu_bar>a:hover {
	background-color: #4F92CD;
}

.bgm_box {
	width:180px;
	height: 300px;
	background-color: white;
	border-radius: 2px;
	margin: 50px 10px 10px 10px;
	border: 1px silver;
	position: relative;
	right:10px;
	top:-5px;

}
img{
	
}
/* 너비가 1200px 이상일때*/
@media ( min-width : 1200px ) {
	* {
		
	}
}