@charset "UTF-8";
.photo_album{
	color: #2f43d0;
	margin: 10px;
	font-size: 17px;
}
a{
	font-size: 15px;
	text-decoration: none;
	color:black;
}
ul{
	padding-left: 15px;
}
li{
	list-style: none;
}
.selected{
	font-weight: bold;
}
a:hover{
	font-weight: bold;
}


#foldersetting{
	color: #808080;

}
.photo_contents{
	padding-left:30px;
	padding-right:30px;
	margin:20px;

}

table tr td{
	border-collapse: collapse;
	border-bottom: 1px solid #c0c0c0;
	

}
th {
	border-bottom: 1px solid #c0c0c0;
	font-size: 20px;
	height: 30px;
	background-color: #e9e9e9;
	width:700px;
	position: relative;

}

img{
	max-width: 100%
}

.content{
	font-size: 20px;
	padding-bottom:20px;
	text-align: center;
}

.like{
	float: right;
}
#LikeBtn{
	font-size: 20px;
	color:#c0c0c0;
}

#LikeBtn:hover{
	font-size: 21px;
	color:#ff80c0;
}

.coment{
	margin-bottom: 20px;
}

iframe{
	width:100%;
	height: 300px;
}
